a {
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: 'Press Start 2P', cursive;
  font-size: 64px;
}

/* Overlay */
.overlay {
  background: white;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: 1;
}

.overlay p, a {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
}

.overlay .blue {
  color: blue;
  z-index: 2;
}

.overlay .red {
  color: red;
  z-index: 3;
}

.overlay .black {
  color: black;
  z-index: 4;
}

.overlay p.logo {
  width: 192px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -96px;
  margin-top: -32px;
}

.overlay a#enter {
  width: 140px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: 32px;
  color: black;
  font-size: 10px;
}

/* Main div */
.main {
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}

/* Main logo */
.main .logo {
  width: 624px;
  height: 48px;
  position: absolute;
  font-size: 48px;
  left: 50%;
  margin-left: -312px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav {
  margin-top: 72px; /* Add extra margin to adjust for absolutely positioned logo */
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 20px;
}

.nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
}

.nav ul li {
  margin-top: 2px;
  height: 22px;
  border: 2px solid black;
  border-right: none;
  font-family: 'Press Start 2P', cursive;
  display: table-cell;
  list-style: none;
  text-align: center;
  position: relative;
}

.nav ul li:last-child {
  border-right: 2px solid black;
}

/* Nav links */
.nav ul li a {
  color: black;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.nav ul li a:hover {
  color: white;
  background: black;
}

/* Content */

.content {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.content p {
  padding: 0 16px;
}
.IamBADatTHIS {
	font-family: System;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #000;
}
.footer {
	position: absolute;
	visibility: visible;
	bottom: 0px;
	width: 70%;
	margin: auto;
	height: 60px;
	text-align: center;
	border: 2px solid black;
	left: 15%;
	right: 15%;
}
.testCLASS {
}
